body {
    margin: 0 auto;
    background-color: gray;
    text-align: center;
}
h1  {
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    margin: 0 auto;
}